
<ion-content [fullscreen]="true">

  <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slidesOpts">
    <ion-slide>
      <ion-button (click)="scan()" size="large" shape="round" expand="full" fill="outline">
        Scan
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
